
$estilos: (
    /* ver en la pagina de complementarios, ahi lo cambie*/
    tFuente1: 20px,
    tFuente2: 30px,
    FontF: 'Times New Roman',
    centro: center,
    grosor: bolder,
);

@mixin paddings($paddingT, $paddingB) {
    padding-top: $paddingT;
    padding-bottom: $paddingB;
}

@mixin imagen($ancho, $bsize, $posicion, $display, $alto, $justificado) {
    width: $ancho;
    background-size: $bsize;
    position: $posicion;
    display: $display;
    height: $alto;
    justify-self: $justificado;
}