.formulario {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center; }

form {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 40%;
  height: 70%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  border-radius: 15px; }

input,
textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 15px;
  width: 80%;
  margin: 20px;
  transition: all 300ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  input:focus,
  textarea:focus {
    border-bottom-color: #610061;
    background-color: #fcfcfc; }

button {
  border: none;
  outline: none;
  padding: 15px;
  width: 150px;
  border-radius: 5px;
  box-shadow: #b1a7a6 0px 0px 5px;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 300ms; }
  button:hover {
    transform: scale(1.05);
    box-shadow: #b1a7a6 0px 0px 5px; }

#grilla {
  display: grid;
  grid-template-areas: "corte maquillaje colora" "tecnico tratamientos ." ". tratamientos ." ". tratamientos .";
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 200px 200px 200px 200px;
  justify-items: center;
  padding: 20px 20px 0px 20px;
  grid-column-gap: 30px;
  text-align: left; }
  #grilla div#corte {
    grid-area: corte; }
  #grilla div#maquillaje {
    grid-area: maquillaje; }
  #grilla div#color {
    grid-area: colora; }
  #grilla div#tecnico {
    grid-area: tecnico; }
  #grilla div#tratamientos {
    grid-area: tratamientos; }

#grillaFilosofia {
  display: grid;
  grid-template-areas: " concepto concepto " " concepto2 concepto2 " " queEs img1 " " queEs2 img1" " . . " " img2 ser " " img2 ser2 " " . .";
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 200px 200px 500px 200px 200px 500px 100px;
  justify-items: center;
  padding: 20px 20px 0px 20px;
  text-align: center; }
  #grillaFilosofia div#concepto {
    grid-area: concepto; }
  #grillaFilosofia div#concepto2 {
    grid-area: concepto2; }
  #grillaFilosofia div#queEs {
    grid-area: queEs; }
  #grillaFilosofia div#queEs2 {
    grid-area: queEs2; }
  #grillaFilosofia div#ser {
    grid-area: ser; }
  #grillaFilosofia div#ser2 {
    grid-area: ser2; }
  #grillaFilosofia div#img1 {
    grid-area: img1; }
  #grillaFilosofia div#img2 {
    grid-area: img2; }
  #grillaFilosofia .img1 {
    width: 80%;
    background-size: cover;
    position: relative;
    display: flex;
    height: 700px;
    justify-self: center;
    background: url(../imagenes/Untitled.png);
    border-radius: 0px 40px 0px 40px; }
  #grillaFilosofia .img2 {
    width: 75%;
    background-size: cover;
    position: relative;
    display: flex;
    height: 562px;
    justify-self: center;
    background: url(../imagenes/foto_0000000820161019173146.jpg) no-repeat;
    border-radius: 40px 0px 40px 0px; }

#grilla2 {
  display: grid;
  grid-template-areas: ". . . . " " mapa1 mapa1 comentarioMapa1 comentarioMapa1  " " . . . .  " " comentarioMapa2 comentarioMapa2 mapa2 mapa2 " " . . . .  ";
  grid-template-rows: 100px 300px 300px 300px 200px;
  justify-items: center;
  padding: 50px 20px 0px 20px;
  text-align: left;
  align-items: center;
  background: linear-gradient(180deg, #191919 0%, #b5b5b5 25%, white 50%, white 100%); }
  #grilla2 div#mapa1 {
    grid-area: mapa1;
    z-index: 100; }
  #grilla2 div#comentarioMapa1 {
    grid-area: comentarioMapa1;
    z-index: 50; }
  #grilla2 div#mapa2 {
    grid-area: mapa2; }
  #grilla2 div#comentarioMapa2 {
    grid-area: comentarioMapa2; }

.fondoColor {
  background: url(../imagenes/13528568_1752697558322286_1847042502262912847_o.jpg);
  padding: 20%;
  border-radius: 40px 0px 40px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) -10px 10px 1.5px; }

.fondoColor2 {
  background: url(../imagenes/13528568_1752697558322286_1847042502262912847_o.jpg);
  padding: 20%;
  border-radius: 0px 40px 0px 40px;
  box-shadow: rgba(0, 0, 0, 0.2) -10px 10px 1.5px; }

.comentarioMapa1, .comentarioMapa2 {
  background-color: black;
  opacity: 0.85; }
  .comentarioMapa1 h4, .comentarioMapa2 h4 {
    font-size: 30px;
    color: #202020;
    text-align: center;
    -webkit-text-stroke: 1px white; }
  .comentarioMapa1 h5, .comentarioMapa2 h5 {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-align: center; }

#grillaIndex {
  display: grid;
  grid-template-areas: " . . " " parrafo . ";
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 500px;
  justify-items: center;
  padding: 20px 20px 0px 20px;
  grid-column-gap: 0px;
  text-align: left; }
  #grillaIndex div#parrafo {
    grid-area: parrafo; }

.fondoCambiado {
  background-color: transparent;
  background-size: cover; }

.imagenIndex {
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  height: 900px;
  justify-self: center;
  background-image: url(../imagenes/stock-photo-blonde-girl-elegant-shiny-hairstyle.jpg); }

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: relative;
  padding-bottom: 110px; }
  header .ancho {
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Times New Roman"; }
    header .ancho .logo {
      width: 280px;
      padding-top: 20px;
      box-sizing: border-box;
      justify-self: flex-start;
      display: block; }
      header .ancho .logo p a {
        color: red;
        font-size: 60px; }
      header .ancho .logo .fuenteVerde {
        color: #0ed40e;
        justify-self: flex-start;
        height: 10px;
        margin-left: 10px; }
    header .ancho .nav-bar {
      width: 450px;
      height: 70px;
      padding-top: 30px;
      text-align: right;
      margin-left: auto; }
      header .ancho .nav-bar .alineados .ocultoParaPc {
        display: none; }
      header .ancho .nav-bar .alineados .ocultoParaCelular .btn {
        background: #fff;
        color: #4b4849;
        box-shadow: none;
        font-size: 1.7rem;
        border-color: #4b4849; }
        header .ancho .nav-bar .alineados .ocultoParaCelular .btn:hover {
          color: red; }
      header .ancho .nav-bar .alineados .ocultoParaCelular .offcanvas-header {
        display: block; }
      header .ancho .nav-bar .alineados .ocultoParaCelular li {
        display: block;
        flex-direction: column;
        justify-content: center;
        padding: 20px auto 20px auto; }
        header .ancho .nav-bar .alineados .ocultoParaCelular li a {
          font-size: 2rem;
          color: #4b4849; }
          header .ancho .nav-bar .alineados .ocultoParaCelular li a:hover {
            color: red; }

ol,
ul {
  padding-left: 0px; }

footer {
  background-color: #4b4849;
  padding: 20px 0px; }
  footer p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    color: #b1a7a6;
    font-weight: lighter;
    line-height: normal; }
  footer a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: aliceblue;
    font-weight: lighter;
    text-align: center; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

.sombrasDeBordes {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px; }

.tituloPrincipal {
  font-size: 50px;
  background-size: initial;
  background-repeat: repeat;
  background-image: url(https://blowdrybar.es/wp-content/uploads/2021/04/personal_stylist_29.png);
  max-width: 100%;
  font-weight: 900px;
  margin: auto;
  font-family: "Times New Roman";
  line-height: 1.4em;
  padding-top: 30px;
  padding-bottom: 30px; }

.espaciado {
  padding-bottom: 20px; }

.espaciado2 {
  padding: 20px;
  text-align: center; }

.margenes {
  margin: 40px 0px 0px 0px; }

.margenLateral {
  margin: 0px 20px; }

.fuenteCambiada {
  font-weight: 100;
  line-height: 2em;
  max-width: 100;
  font-size: 20px;
  font-family: "Times New Roman";
  padding-top: 30px;
  padding-bottom: 30px; }

.fuenteCambiada2 {
  font-weight: bolder;
  max-width: 300;
  font-size: 30px;
  font-family: "Times New Roman";
  color: #b1a7a6;
  padding-top: 30px;
  padding-bottom: 30px; }

.fuenteCambiada3 {
  font-weight: bolder;
  max-width: 300;
  font-size: 50px;
  font-family: "Times New Roman";
  line-height: 1.4em;
  color: #4b4849;
  padding-top: 30px;
  padding-bottom: 30px; }

.degradadoNegroBlanco {
  background: black;
  background: linear-gradient(180deg, black 0%, #1a1a1a 100%); }

.centrado {
  text-align: center; }

.lineaRoja {
  padding: 1px;
  background-color: #e5383b; }

ol,
ul {
  margin-bottom: 0px; }

body {
  font-size: 18px;
  color: #666;
  background-color: #fff;
  line-height: 1.7em;
  width: 100%;
  background-image: url(../imagenes/04f560bb-b7ad-4bbd-955f-f5fd67e5d031.jpg); }

main {
  width: 1000px;
  margin: auto;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 50px; }
  main div h3 {
    padding: 15px;
    text-align: center; }

h3 {
  font-weight: 700;
  text-align: center; }

h4 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase; }

@media screen and (max-width: 500px) {
  header {
    height: 180px;
    width: 100%; }
    header .ancho {
      flex-direction: column;
      text-align: center;
      width: 100%; }
      header .ancho .logo {
        margin: 0px auto 20px auto;
        width: 100%; }
      header .ancho .nav-bar {
        padding-top: 0px;
        width: 80%;
        z-index: 1000;
        margin-left: 0px;
        margin: auto; }
        header .ancho .nav-bar .alineados .ocultoParaCelular {
          display: none; }
        header .ancho .nav-bar .alineados .ocultoParaPc {
          display: block; }
          header .ancho .nav-bar .alineados .ocultoParaPc nav {
            z-index: 1000;
            flex-direction: column;
            width: 100%;
            height: 13vw;
            text-align: center;
            padding: 10px 0px 10px 0px;
            margin: 2px 0px;
            color: #4e007c;
            text-transform: uppercase;
            font-weight: 500;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position: relative; }
            header .ancho .nav-bar .alineados .ocultoParaPc nav .container-fluid {
              display: block; }
            header .ancho .nav-bar .alineados .ocultoParaPc nav .nav-link {
              display: inline-block;
              font-weight: 500;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              color: #4e007c;
              font-size: 2rem;
              padding-left: 15px;
              width: 100%;
              text-align: center;
              border: #e0eafc 3px solid;
              border-radius: 12px;
              background-color: white; }
              header .ancho .nav-bar .alineados .ocultoParaPc nav .nav-link:hover {
                background-color: #D9AFD9;
                background-image: linear-gradient(57deg, #D9AFD9 0%, #97D9E1 100%);
                color: #666;
                border-color: #666; }
  .fuenteVerde {
    justify-self: flex-end; }
  .btn {
    display: inline-block;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4e007c;
    font-size: 2rem;
    padding-left: 15px;
    width: 100%; }
  .btn-primary {
    text-align: center;
    border: #e0eafc 3px solid;
    border-radius: 12px;
    background-color: white; }
    .btn-primary:hover {
      background-color: #D9AFD9;
      background-image: linear-gradient(57deg, #D9AFD9 0%, #97D9E1 100%);
      color: #666;
      border-color: #666; }
  /*------ INDEX ------*/
  #grillaIndex {
    max-width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-areas: " . " " parrafo ";
    grid-template-rows: 350px 400px;
    grid-template-columns: 100vw;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 500; }
  div#parrafo {
    background-color: #4b4849;
    color: #e0eafc; }
  .imagenIndex {
    height: auto; }
  /*-------PAGINA SERVICIOS-------*/
  #grilla {
    max-width: 100vw;
    grid-template-areas: "corte" "maquillaje" "colora" "tecnico" "tratamientos";
    grid-template-rows: auto;
    grid-template-columns: 90vw;
    background-size: contain;
    justify-content: center; }
  /*--------PAGINA SALONES----------*/
  #grilla2 {
    max-width: 100vw;
    grid-template-areas: "mapa1" "comentarioMapa1" "mapa2" "comentarioMapa2";
    grid-template-rows: 250px 200px 250px 200px;
    grid-template-columns: 90vw;
    background-size: contain;
    justify-content: center; }
  div#mapa1,
  div#mapa2 {
    width: 100%;
    overflow: auto;
    height: 100%; }
    div#mapa1 div,
    div#mapa2 div {
      height: 100%; }
      div#mapa1 div iframe,
      div#mapa2 div iframe {
        height: 100%; }
  .fondoColor,
  .fondoColor2 {
    padding: 0px 0px 20px 0px;
    background-color: transparent; }
  /*-------PAGINA FILOSOFIA------*/
  #grillaFilosofia {
    max-width: 100vw;
    grid-template-areas: " concepto " " concepto2 " "queEs" "queEs2" "img1" "ser" "ser2" "img2";
    grid-template-rows: auto;
    grid-template-columns: 90vw;
    background-size: contain;
    justify-content: center; }
  .img1,
  .img2 {
    width: 100%; }
  #concepto {
    background-color: #4b4849;
    color: #fff;
    width: 100vw; }
  /*-----COMPLEMENTARIOS-------*/
  body {
    background-image: none; }
  main {
    width: 100%; }
  form {
    width: 95vw;
    box-shadow: none; }
  iframe {
    width: 100%;
    height: auto; }
  .formulario {
    height: auto; } }
